<div class="bg-gray-900 border rounded-xl shadow-md p-6 hover:shadow-xl transition-all duration-300 text-white w-full"
    [ngClass]="{
        'border-green-600': month.status === true,
        'border-red-600': month.status !== true
      }">

    <!-- Header: Mes y estado -->
    <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold capitalize">{{ formatRentMonth(month.rent_month) }}</h3>
        <div class="flex gap-2">

            @if (month.status === true) {
            <button class="px-3 py-1 text-xs font-semibold rounded-full bg-blue-600 cursor-pointer"
                (click)="downloadPDF(month)">Descargar
                recibo</button>
            }
            <span class="px-3 py-1 text-xs font-semibold rounded-full" [ngClass]="{
        'bg-green-600': month.status === true,
        'bg-red-600': month.status !== true
      }">
                {{ month.status === "true" || month.status === true ? 'Pagado' : 'Pendiente' }}
            </span>
        </div>

    </div>

    <!-- Montos -->
    <div class="mb-4 grid grid-cols-1 sm:grid-cols-3 gap-3 text-sm">

        <!-- Total -->
        <div class="relative bg-gray-800 rounded-lg p-3 flex flex-col gap-1 border border-gray-700">

            <!-- Botón editar pequeño -->
            <button class="absolute top-2 right-2
               bg-green-600 hover:bg-green-700
               text-white
               rounded-full
               w-7 h-7 p-4 
               flex items-center justify-center
               transition cursor-pointer" (click)="onEditTotalRentAmount.emit(month)">

                <span class="material-icons text-[14px] leading-none">edit</span>
            </button>

            <span class="text-gray-400">Total alquiler</span>

            <span class="text-green-400 font-semibold text-base">
                {{ month.total_rent_amount | currency:'ARS':'symbol':'1.0-0' }}
            </span>

        </div>


        <!-- Pagado -->
        <div class="bg-gray-800 rounded-lg p-3 flex flex-col gap-1 border border-gray-700">
            <span class="text-gray-400">Pagado</span>
            <span class="text-blue-400 font-semibold text-base">
                {{ month.rent_amount | currency:'ARS':'symbol':'1.0-0' }}
            </span>
        </div>

        <!-- Resto -->
        <div class="bg-gray-800 rounded-lg p-3 flex flex-col gap-1 border" [ngClass]="(month.total_rent_amount - month.rent_amount) > 0 
        ? 'border-red-600 bg-red-950/40' 
        : 'border-green-600 bg-green-950/40'">

            <span class="text-gray-400">Resto</span>
            <span class="font-bold text-base" [ngClass]="(month.total_rent_amount - month.rent_amount) > 0 
            ? 'text-red-400' 
            : 'text-green-400'">

                {{ month.total_rent_amount - month.rent_amount | currency:'ARS':'symbol':'1.0-0' }}
            </span>

        </div>

    </div>


    <!-- Servicios con checkboxes -->
    <div class="mb-4 grid grid-cols-2 gap-3">
        <label class="flex items-center gap-2">
            <input type="checkbox" [(ngModel)]="month.water"
                (change)="onCheckboxChange('water', $event.target.checked, month)"
                class="h-4 w-4 text-blue-500 border-gray-300 rounded focus:ring-blue-500 cursor-pointer" />
            Agua <span class="text-gray-400">({{ month.water_amount | currency:'ARS':'symbol':'1.0-0' }})</span>
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" [(ngModel)]="month.electricy"
                (change)="onCheckboxChange('electricy', $event.target.checked, month)"
                class="h-4 w-4 text-yellow-500 border-gray-300 rounded focus:ring-yellow-500 cursor-pointer" />
            Electricidad <span class="text-gray-400">({{ month.electricy_amount | currency:'ARS':'symbol':'1.0-0'
                }})</span>
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" [(ngModel)]="month.gas"
                (change)="onCheckboxChange('gas', $event.target.checked, month)"
                class="h-4 w-4 text-orange-500 border-gray-300 rounded focus:ring-orange-500 cursor-pointer" />
            Gas <span class="text-gray-400">({{ month.gas_amount | currency:'ARS':'symbol':'1.0-0' }})</span>
        </label>
        <label class="flex items-center gap-2">
            <input type="checkbox" [(ngModel)]="month.hoa_fees"
                (change)="onCheckboxChange('hoa_fees', $event.target.checked, month)"
                class="h-4 w-4 text-purple-500 border-gray-300 rounded focus:ring-purple-500 cursor-pointer" />
            Expensas/ABL <span class="text-gray-400">({{ month.hoa_fees_amount | currency:'ARS':'symbol':'1.0-0'
                }})</span>
        </label>
    </div>


    <!-- Descripción -->
    <div class="text-gray-300 text-sm italic border-t border-gray-700 pt-2">
        {{ month.description || 'Sin observaciones' }}
    </div>

    <div class="flex sm:flex-row flex-col gap-2 justify-end items-center mt-4">
        <button (click)="onAddServicesAmount.emit(month)"
            class="bg-yellow-600 hover:bg-yellow-700 text-white transition cursor-pointer rounded-lg p-2 flex items-center justify-center w-full h-9">
            <span class="text-sm font-semibold">Valor de los servicios</span>
        </button>
        <button (click)="onAddNote.emit(month)"
            class="bg-blue-600 hover:bg-blue-700 text-white transition cursor-pointer rounded-lg p-2 flex items-center justify-center w-full h-9">
            <span class="text-sm font-semibold">Agregar observación</span>
        </button>
        <button (click)="onAddPayment.emit(month)"
            class="bg-green-600 hover:bg-green-700 text-white transition cursor-pointer rounded-lg p-2 flex items-center justify-center w-full h-9">
            <span class="text-sm font-semibold">Realizar pago</span>
        </button>
    </div>

</div>

<div id="payment-content" class="hidden pdf-safe">
    <div class="w-full max-w-[794px] bg-white text-gray-800 p-8 font-sans">

        <!-- Header -->
        <div class="flex justify-between items-start pb-4 mb-6">
            <div class="flex flex-col gap-2">
                <h2 class="text-2xl font-bold text-gray-900">Recibo de Alquiler</h2>

                <!-- Nuevo: Nombre del inquilino -->
                <p id="tenant-name" class="text-gray-700 font-semibold"></p>

                <p class="text-sm text-gray-500">
                    Generado el {{ today | date:'dd/MM/yyyy HH:mm' }}
                </p>
            </div>
        </div>

        <!-- Información principal -->
        <div class="grid grid-cols-2 gap-6 mb-6 text-sm">
            <div class="flex flex-col gap-2">
                <p class="text-gray-500">Período</p>
                <p id="period" class="font-semibold text-gray-900"></p>
            </div>

            <div class="flex flex-col gap-2">
                <p class="text-gray-500">Método de pago</p>
                <p id="payment-method" class="font-semibold text-gray-900"></p>
            </div>
        </div>

        <!-- Resumen alquiler -->
        <div class="rounded-xl mb-6">
            <h3 class="font-semibold text-gray-900 mb-4">Resumen del alquiler</h3>
            <div class="space-y-2 text-sm">
                <div class="flex justify-between">
                    <span>Total alquiler</span>
                    <span id="total-rent-amount" class="font-semibold"></span>
                </div>

                <div class="flex justify-between">
                    <span>Pagado</span>
                    <span id="rent-amount" class="font-semibold text-green-600"></span>
                </div>

                <div class="flex justify-between border-t pt-2 mt-2">
                    <span class="font-semibold">Saldo pendiente</span>
                    <span id="balance-pending" class="font-bold text-red-600"></span>
                </div>
            </div>
        </div>

        <!-- Servicios -->
        <!-- <div class="border rounded-xl p-5 mb-6">
            <h3 class="font-semibold text-gray-900 mb-4">Servicios</h3>
            <div id="services" class="grid grid-cols-2 gap-y-2 text-sm"></div>
        </div> -->

        <!-- Observaciones -->
        <div class="rounded-xl">
            <h3 class="font-semibold text-gray-900 mb-2">Observaciones</h3>
            <p id="observations" class="text-sm text-gray-600 whitespace-pre-line"></p>
        </div>
    </div>
    <div class="flex justify-between items-center p-5 pt-20">
        <div class="p-5 border-t border-black">
            <h3 class="font-semibold text-gray-900 mb-2">Firma del propietario</h3>
        </div>

        <div class="p-5 border-t border-black">
            <h3 class="font-semibold text-gray-900 mb-2">Firma del inquilino</h3>
        </div>
    </div>
</div>