<div class="mt-10 w-full lg:px-4">

  <!-- Botón volver -->
  <div class="flex items-center justify-end gap-2 mb-4">
    <button class="
        flex items-center gap-1
        py-2 px-4
        rounded-lg bg-blue-600 hover:bg-blue-700
        disabled:bg-blue-400 disabled:cursor-not-allowed
        text-white font-semibold transition cursor-pointer
      " (click)="goToTenants()">
      <span class="material-icons">arrow_back</span>
      Volver
    </button>
  </div>

  <!-- Loading -->
  @if (loading) {
  <div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <app-spinner></app-spinner>
  </div>
  }

  <!-- Contenido -->
  @if (tenantData != null && !loading) {
  <div class="flex flex-col w-full bg-black backdrop-blur text-white rounded-2xl shadow-xl overflow-hidden shadow-2xl">

    <!-- TOP: Avatar + Info -->
    <div class="flex flex-col lg:flex-row">

      <!-- Avatar -->
      <!-- <div class="lg:w-1/3 flex items-center justify-center p-8">
        <img [src]="tenantData.image_url || 'assets/user-placeholder.png'" alt="Inquilino"
          class="w-40 h-40 rounded-full object-cover border-4 border-blue-600 shadow-lg" />
      </div> -->

      <!-- Información -->
      <div class="flex-1 p-8 flex flex-col justify-between">

        <!-- Header -->
        <div class="flex gap-4 items-center">
          <h2 class="text-3xl font-bold">
            {{ tenantData.username.charAt(0).toUpperCase() + tenantData.username.slice(1) }}
          </h2>
          <button class="
                flex items-center gap-1
                py-2 px-2
                rounded-lg bg-blue-600 hover:bg-blue-700
                text-white font-semibold transition cursor-pointer
              " (click)="openEdit('username', tenantData.username)">
            <span class="material-icons">edit</span>
          </button>
        </div>

        <!-- Datos -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-6">

          <!-- Nombre -->
          <div class="flex items-center gap-3">
            <span class="material-icons text-cyan-400 text-3xl">person</span>
            <div>
              <p class="text-gray-400 text-sm">Nombre</p>
              <p class="text-lg font-semibold">
                {{ tenantData.firstname ? tenantData.firstname.charAt(0).toUpperCase() + tenantData.firstname.slice(1) :
                'Sin información' }}
              </p>
            </div>
            <button class="
                  flex items-center gap-1
                  py-2 px-2
                  rounded-lg bg-blue-600 hover:bg-blue-700
                  text-white font-semibold transition cursor-pointer
                " (click)="openEdit('firstname', tenantData.firstname)">
              <span class="material-icons">edit</span>

            </button>
          </div>

          <!-- Apellido -->
          <div class="flex items-center gap-3">
            <span class="material-icons text-cyan-400 text-3xl">person</span>
            <div>
              <p class="text-gray-400 text-sm">Apellido</p>
              <p class="text-lg font-semibold">
                {{ tenantData.lastname ? tenantData.lastname.charAt(0).toUpperCase() + tenantData.lastname.slice(1) :
                'Sin información' }}
              </p>
            </div>
            <button class="
                  flex items-center gap-1
                  py-2 px-2
                  rounded-lg bg-blue-600 hover:bg-blue-700
                  text-white font-semibold transition cursor-pointer
                " (click)="openEdit('lastname', tenantData.lastname)">
              <span class="material-icons">edit</span>

            </button>
          </div>

          <!-- Documento -->
          <div class="flex items-center gap-3">
            <span class="material-icons text-cyan-400 text-3xl">person</span>
            <div>
              <p class="text-gray-400 text-sm">Documento</p>
              <p class="text-lg font-semibold">
                {{ tenantData.document || 'Sin información' }}
              </p>
            </div>
            <button class="
                  flex items-center gap-1
                  py-2 px-2
                  rounded-lg bg-blue-600 hover:bg-blue-700
                  text-white font-semibold transition cursor-pointer
                " (click)="openEdit('document', tenantData.document)">
              <span class="material-icons">edit</span>

            </button>
          </div>

          <!-- CUIT -->
          <div class="flex items-center gap-3">
            <span class="material-icons text-cyan-400 text-3xl">person</span>
            <div>
              <p class="text-gray-400 text-sm">CUIT</p>
              <p class="text-lg font-semibold">
                {{ tenantData.cuit || 'Sin información' }}
              </p>
            </div>
            <button class="
                  flex items-center gap-1
                  py-2 px-2
                  rounded-lg bg-blue-600 hover:bg-blue-700
                  text-white font-semibold transition cursor-pointer
                " (click)="openEdit('cuit', tenantData.cuit)">
              <span class="material-icons">edit</span>

            </button>
          </div>

          <!-- Email -->
          <div class="flex items-center gap-3">
            <span class="material-icons text-cyan-400 text-3xl">email</span>
            <div>
              <p class="text-gray-400 text-sm">Email</p>
              <p class="text-lg font-semibold">
                {{ tenantData.email ? tenantData.email.charAt(0).toUpperCase() + tenantData.email.slice(1) :
                'Sin información' }}
              </p>
            </div>
            <button class="
                  flex items-center gap-1
                  py-2 px-2
                  rounded-lg bg-blue-600 hover:bg-blue-700
                  text-white font-semibold transition cursor-pointer
                " (click)="openEdit('email', tenantData.email)">
              <span class="material-icons">edit</span>
            </button>
          </div>

          <!-- Teléfono -->
          <div class="flex items-center gap-3">
            <span class="material-icons text-green-400 text-3xl">phone</span>
            <div>
              <p class="text-gray-400 text-sm">Teléfono</p>
              <p class="text-lg font-semibold">
                {{ tenantData.phone || 'Sin información' }}
              </p>
            </div>
            <button class="
                  flex items-center gap-1
                  py-2 px-2
                  rounded-lg bg-blue-600 hover:bg-blue-700
                  text-white font-semibold transition cursor-pointer
                " (click)="openEdit('phone', tenantData.phone)">
              <span class="material-icons">edit</span>
            </button>
          </div>

        </div>

        <!-- Badges -->
        <div class="flex gap-4 mt-8">
          <span class="px-5 py-2 rounded-full text-sm font-semibold"
            [ngClass]="tenantData.is_enabled ? 'bg-green-600' : 'bg-red-600'">
            {{ tenantData.is_enabled ? 'Activo' : 'Inactivo' }}
          </span>
        </div>

      </div>

    </div>
    <!-- Comentario -->
    <app-create-comment [initialComment]="tenantData.comment"
      (saveComment)="onSaveComment($event)"></app-create-comment>


    <!-- Comentarios -->
    <div class="flex flex-col gap-4 mt-6">
      @for (comment of paginatedComments; track comment) {
      <app-show-comment [comment]="comment" (delete)="onDeleteComment($event)"
        (toggle)="onToggleComment($event)"></app-show-comment>
      }
      @empty {
      <p class="text-gray-400">No hay comentarios para este inquilino.</p>
      }
    </div>

    @if (comments.length > commentsPerPage) {
    <div class="flex justify-between items-center mt-4">

      <button class="px-4 py-2 bg-gray-700 rounded disabled:opacity-40 cursor-pointer"
        (click)="currentCommentPage = currentCommentPage - 1" [disabled]="currentCommentPage === 1">
        Anterior
      </button>

      <span class="text-sm text-gray-300">
        Página {{ currentCommentPage }} de {{ totalCommentPages }}
      </span>

      <button class="px-4 py-2 bg-gray-700 rounded disabled:opacity-40 cursor-pointer"
        (click)="currentCommentPage = currentCommentPage + 1" [disabled]="currentCommentPage === totalCommentPages">
        Siguiente
      </button>

    </div>
    }
  </div>
  }

  <!-- Modal edición -->
  @if (formEditTenant) {
  <app-form-edit-tenant [type]="editType" [currentValue]="editValue" (save)="onSaveEdit($event)"
    (cancel)="closeFormEditTenant()">
  </app-form-edit-tenant>
  }

  <!-- Toast -->
  <app-toast #toast></app-toast>

</div>