<div class="mt-10 w-full  lg:px-4">

    <div class="flex items-center justify-end gap-2 mb-4">
        <!-- Volver al menú -->
        <button class="
        flex items-center gap-1
        py-2 px-4
        rounded-lg bg-blue-600 hover:bg-blue-700
        disabled:bg-blue-400 disabled:cursor-not-allowed
        text-white font-semibold transition cursor-pointer
      " (click)="goToProperties()">
            <span class="material-icons">arrow_back</span>
            Volver
        </button>
    </div>

    @if (loading) {
    <div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
        <app-spinner></app-spinner>
    </div>
    }

    @if (propertyData != null && !loading) {
    <div
        class="flex flex-col w-full bg-black backdrop-blur text-white rounded-2xl shadow-xl overflow-hidden shadow-2xl">

        <!-- TOP: Imagen + Info -->
        <div class="flex flex-col lg:flex-row">
            <!-- Información -->
            <div class="flex-1 p-8 flex flex-col justify-between">

                <!-- Header -->
                <div class="flex gap-4">
                    <h2 class="text-3xl font-bold flex items-center gap-2 mb-2">
                        {{ propertyData.name }}
                    </h2>
                    <button class="
                        flex items-center gap-1
                        py-2 px-2
                        rounded-lg bg-blue-600 hover:bg-blue-700
                        text-white font-semibold transition cursor-pointer
                      " (click)="openEdit('name', propertyData.name)">
                        <span class="material-icons">edit</span>
                    </button>
                </div>

                <!-- Datos -->
                <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mt-6">

                    <div class="flex items-center gap-3">
                        <span class="material-icons text-green-400 text-3xl">attach_money</span>
                        <div>
                            <p class="text-gray-400 text-sm">Valor del alquiler</p>
                            <p class="text-lg font-semibold">${{ propertyData.value ? propertyData.value : '0' }}</p>
                        </div>
                        <button class="
                        flex items-center gap-1
                        py-2 px-2
                        rounded-lg bg-blue-600 hover:bg-blue-700
                        text-white font-semibold transition cursor-pointer
                      " (click)="openEdit('value', propertyData.value)">
                            <span class="material-icons">edit</span>
                        </button>
                    </div>

                    <div class="flex items-center gap-3">
                        <span class="material-icons text-yellow-400 text-3xl">payments</span>
                        <div>
                            <p class="text-gray-400 text-sm">Extras (Expensas, ABL, etc)</p>
                            <p class="text-lg font-semibold">${{ propertyData.additional_costs ?
                                propertyData.additional_costs : '0' }}</p>
                        </div>
                        <button class="
                        flex items-center gap-1
                        py-2 px-2
                        rounded-lg bg-blue-600 hover:bg-blue-700
                        text-white font-semibold transition cursor-pointer
                      " (click)="openEdit('additional_costs', propertyData.additional_costs)">
                            <span class="material-icons">edit</span>
                        </button>
                    </div>

                    <div class="flex items-center gap-3">
                        <span class="material-icons text-purple-400 text-3xl">place</span>
                        <div>
                            <p class="text-gray-400 text-sm">Dirección</p>
                            <p class="text-lg font-semibold">
                                {{ propertyData.address ? propertyData.address.slice(0, 20) : 'No se ha encontrado' }}
                            </p>
                        </div>
                        <button class="
                        flex items-center gap-1
                        py-2 px-2
                        rounded-lg bg-blue-600 hover:bg-blue-700
                        text-white font-semibold transition cursor-pointer
                      " (click)="openEdit('address', propertyData.address)">
                            <span class="material-icons">edit</span>
                        </button>
                    </div>

                    <!-- Ambientes -->
                    <div class="flex items-center gap-3">
                        <span class="material-icons text-green-400 text-3xl">bed</span>
                        <div>
                            <p class="text-gray-400 text-sm">Ambientes</p>
                            <p class="text-lg font-semibold">
                                {{ propertyData.rooms ? propertyData.rooms : 'Sin información' }}
                            </p>
                        </div>
                        <button class="
                        flex items-center gap-1
                        py-2 px-2
                        rounded-lg bg-blue-600 hover:bg-blue-700
                        text-white font-semibold transition cursor-pointer
                      " (click)="openEdit('rooms', propertyData.rooms)">
                            <span class="material-icons">edit</span>
                        </button>
                    </div>

                    <!-- Tipo (casa o departamento) -->
                    <div class="flex items-center gap-3">
                        <span class="material-icons text-green-400 text-3xl">home</span>
                        <div>
                            <p class="text-gray-400 text-sm">Tipo</p>
                            <p class="text-lg font-semibold">
                                {{ propertyData.type ? propertyData.type.slice(0,1).toUpperCase() +
                                propertyData.type.slice(1) : 'Sin información' }}
                            </p>
                        </div>
                        <button class="
                        flex items-center gap-1
                        py-2 px-2
                        rounded-lg bg-blue-600 hover:bg-blue-700
                        text-white font-semibold transition cursor-pointer
                      " (click)="openEdit('type', propertyData.type)">
                            <span class="material-icons">edit</span>
                        </button>
                    </div>

                    <div class="flex items-center gap-3">
                        <span class="material-icons text-cyan-400 text-3xl">person</span>
                        <div>
                            <p class="text-gray-400 text-sm">Inquilino</p>

                            @if (tenant) {
                            <p class="text-lg font-semibold">
                                {{ tenant.username }}
                            </p>
                            } @else {
                            <p class="text-lg font-semibold">
                                Ninguno
                            </p>
                            }
                        </div>
                    </div>

                    <!-- Contract Valid From -->
                    <div class="flex items-center gap-3">
                        <span class="material-icons text-green-400 text-3xl">date_range</span>
                        <div>
                            <p class="text-gray-400 text-sm">Contrato válido desde</p>
                            <p class="text-lg font-semibold">
                                {{ propertyData.contract_valid_from ? propertyData.contract_valid_from : 'Sin
                                información' }}
                            </p>
                        </div>
                    </div>

                    <!-- Contract Valid To -->
                    <div class="flex items-center gap-3">
                        <span class="material-icons text-green-400 text-3xl">date_range</span>
                        <div>
                            <p class="text-gray-400 text-sm">Contrato válido hasta</p>
                            <p class="text-lg font-semibold">
                                {{ propertyData.contract_valid_to ? propertyData.contract_valid_to : 'Sin información'
                                }}
                            </p>
                        </div>
                    </div>


                </div>

                <!-- Badges -->
                <div class="flex gap-4 mt-8">
                    <span class="px-5 py-2 rounded-full text-sm font-semibold"
                        [ngClass]="propertyData.tenant_id ? 'bg-red-600' : 'bg-green-600'">
                        {{ propertyData.tenant_id ? 'Alquilada' : 'Disponible' }}
                    </span>

                    <span class="px-5 py-2 rounded-full text-sm font-semibold"
                        [ngClass]="propertyData.is_enabled ? 'bg-green-600' : 'bg-red-600'">
                        {{ propertyData.is_enabled ? 'Activa' : 'Inactiva' }}
                    </span>
                </div>

            </div>
        </div>

        <!-- MAPA FULL WIDTH (solo visual) -->
        <div class="w-full h-[350px] border-t border-white/50">
            <!-- Mapa ocupa el 90% del viewport height -->
            <div id="map" class="w-full h-[70vh] shadow-lg overflow-hidden"></div>
        </div>


    </div>
    }

    @if (formEditProperty) {
    <app-form-edit-property [type]="editType" [currentValue]="editValue" (save)="onSave($event)"
        (cancel)="closeformEditProperty()">
    </app-form-edit-property>
    }

    <!-- Toast -->
    <app-toast #toast></app-toast>


</div>