<!-- Fondo oscuro semi-transparente -->
<div class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
    <!-- Formulario centrado en modo oscuro -->
    <form [formGroup]="propertyForm" (ngSubmit)="submit()"
        class="bg-gray-900 text-white p-6 rounded-xl shadow-lg w-full max-w-md space-y-4 relative">

        <!-- Botón de cerrar -->
        <button type="button" class="absolute top-2 right-2 text-gray-300 hover:text-white font-bold" (click)="close()">
            ✕
        </button>

        <!-- Icono grande centrado -->
        <div class="flex justify-center mb-6">
            <img src="assets/images/rentia.png" alt="Rentia" class="h-40 w-auto" />
        </div>

        <!-- Nombre -->
        <div>
            <input type="text" formControlName="name" placeholder="Nombre"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <div class="min-h-[1.25rem]">
                @if (name && name.invalid && (name.dirty || name.touched)) {
                <p class="text-sm text-red-500 mt-1">
                    El nombre es obligatorio y debe tener al menos 3 caracteres.
                </p>
                }
            </div>
        </div>

        <!-- Dirección -->
        <div>
            <input type="text" formControlName="address" placeholder="Dirección"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <div class="min-h-[1.25rem]">
                @if (address && address.invalid && (address.dirty || address.touched)) {
                <p class="text-sm text-red-500 mt-1">
                    La dirección es obligatoria y debe tener al menos 5 caracteres.
                </p>
                }
            </div>
        </div>

        <!-- Valor -->
        <div>
            <input type="text" formControlName="value" placeholder="Valor"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <div class="min-h-[1.25rem]">
                @if (value && value.invalid && (value.dirty || value.touched)) {
                <p class="text-sm text-red-500 mt-1">
                    Valor inválido. Solo números.
                </p>
                }
            </div>
        </div>

        <button type="submit" [disabled]="submitting"
            class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded w-full">
            Guardar Propiedad
        </button>
    </form>

    <!-- Toast -->
    <app-toast #toast></app-toast>

</div>