<!-- Fondo oscuro semi-transparente -->
<div class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
    <!-- Formulario centrado en modo oscuro -->
    <form [formGroup]="tenantForm" (ngSubmit)="submit()"
        class="bg-gray-900 text-white p-6 rounded-xl shadow-lg w-full max-w-md space-y-4 relative">

        <!-- Botón de cerrar -->
        <button type="button" class="absolute top-2 right-2 text-gray-300 hover:text-white font-bold cursor-pointer"
            (click)="close()">
            ✕
        </button>

        <!-- Icono grande centrado -->
        <div class="flex justify-center mb-6">
            <img src="assets/images/rentia.png" alt="Rentia" class="h-40 w-auto" />
        </div>

        <!-- Nombre -->
        <div>
            <input type="text" formControlName="username" placeholder="Nombre de usuario"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <!-- error -->
            <div class="min-h-[1.25rem]">
                @if (f['username'].errors?.['required'] && f['username'].touched) {
                <p class="text-red-500 text-sm">
                    El nombre es obligatorio
                </p>
                }

                @if (f['username'].errors?.['maxlength']) {
                <p class="text-red-500 text-sm">
                    El nombre no puede superar los 30 caracteres
                </p>
                }

                @if (f['username'].errors?.['minlength']) {
                <p class="text-red-500 text-sm">
                    El nombre no puede ser menor a 3 caracteres
                </p>
                }

            </div>
        </div>

        <!-- Teléfono -->
        <div>
            <input type="text" formControlName="phone" placeholder="Teléfono"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <!-- error -->
            <div class="min-h-[1.25rem]">
                @if (f['phone'].touched || f['phone'].dirty) {

                @if (f['phone'].errors?.['pattern']) {
                <p class="text-sm text-red-500 mt-1">
                    El teléfono solo debe contener números.
                </p>

                } @else if (f['phone'].errors?.['minlength']) {
                <p class="text-sm text-red-500 mt-1">
                    El teléfono debe tener al menos 7 dígitos.
                </p>

                } @else if (f['phone'].errors?.['maxlength']) {
                <p class="text-sm text-red-500 mt-1">
                    El teléfono no puede superar los 15 dígitos.
                </p>

                }

                }
            </div>
        </div>

        <!-- Email -->
        <div>
            <input type="email" formControlName="email" placeholder="Correo"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <!-- error -->
            <div class="min-h-[1.25rem]">
                @if (f['email'].touched || f['email'].dirty) {

                @if (f['email'].errors?.['email']) {
                <p class="text-sm text-red-500 mt-1">
                    Email inválido
                </p>

                } @else if (f['email'].errors?.['minlength']) {
                <p class="text-red-500 text-sm">
                    El correo no puede ser menor a 5 caracteres
                </p>

                } @else if (f['email'].errors?.['maxlength']) {
                <p class="text-red-500 text-sm">
                    El correo no puede superar los 50 caracteres
                </p>
                }

                }
            </div>
        </div>

        <button type="submit" [disabled]="submitting"
            class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded w-full cursor-pointer">
            Guardar Inquilino
        </button>
    </form>

    <!-- Toast -->
    <app-toast #toast></app-toast>
</div>