<!-- Fondo oscuro semi-transparente -->
<div class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
    <!-- Formulario centrado en modo oscuro -->
    <form [formGroup]="tenantForm" (ngSubmit)="submit()"
        class="bg-gray-900 text-white p-6 rounded-xl shadow-lg w-full max-w-md space-y-4 relative">

        <!-- Botón de cerrar -->
        <button type="button" class="absolute top-2 right-2 text-gray-300 hover:text-white font-bold cursor-pointer"
            (click)="close()">
            ✕
        </button>

        <!-- Icono grande centrado -->
        <div class="flex justify-center mb-6">
            <img src="assets/images/rentia.png" alt="Rentia" class="h-40 w-auto" />
        </div>

        <!-- Nombre -->
        <div>
            <input type="text" formControlName="username" placeholder="Nombre"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <!-- error -->
            <div class="min-h-[1.25rem]">
                @if (f['username'].invalid && (f['username'].dirty || f['username'].touched)) {
                <p class="text-red-500 text-sm">
                    El nombre es obligatorio (mínimo 3 caracteres)
                </p>
                }

            </div>
        </div>

        <!-- Teléfono -->
        <div>
            <input type="text" formControlName="phone" placeholder="Teléfono"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <!-- error -->
            <div class="min-h-[1.25rem]">
                @if (f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)) {
                <p class="text-sm text-red-500 mt-1">
                    Teléfono inválido. Solo números entre 7 y 15 dígitos.
                </p>
                }
            </div>
        </div>

        <!-- Email -->
        <div>
            <input type="email" formControlName="email" placeholder="Correo"
                class="w-full bg-gray-800 border border-gray-700 text-white px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />

            <!-- error -->
            <div class="min-h-[1.25rem]">
                @if (f['email'].invalid && (f['email'].dirty || f['email'].touched)) {
                <p class="text-sm text-red-500 mt-1">
                    Email inválido
                </p>
                }
            </div>
        </div>

        <button type="submit" [disabled]="submitting"
            class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded w-full cursor-pointer">
            Guardar Inquilino
        </button>
    </form>

    <!-- Toast -->
    <app-toast #toast></app-toast>
</div>