<!-- OVERLAY -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/90">

    <!-- MODAL -->
    <div class="bg-black text-white w-full max-w-md rounded-xl p-6 shadow-2xl relative "
        (click)="$event.stopPropagation()">

        <h2 class="text-xl font-semibold mb-4">
            {{ type === 'value' ? 'Valor del alquiler' : type === 'additional_costs' ? 'Extras (Expensas, ABL, etc)' :
            type === 'address' ? 'Dirección' : type === 'tenant' ? 'Inquilino' : type === 'name' ? 'Nombre' : type ===
            'rooms' ? 'Ambientes' : 'Tipo' }}
        </h2>

        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

            <!-- VALUE -->
            @if (type === 'value') {
            <input type="number" formControlName="value" placeholder="Nuevo valor del alquiler"
                class="w-full px-4 py-2 rounded-lg bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            }

            <!-- ADDITIONAL COSTS -->
            @if (type === 'additional_costs') {
            <input type="number" formControlName="value" placeholder="Nuevos costos adicionales"
                class="w-full px-4 py-2 rounded-lg bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            }

            <!-- TENANT -->
            @if (type === 'tenant') {
            <input type="text" formControlName="value" placeholder="Asignar inquilino"
                class="w-full px-4 py-2 rounded-lg bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            }

            <!-- ADDRESS -->
            @if (type === 'address') {
            <input type="text" formControlName="value" placeholder="Nueva dirección"
                class="w-full px-4 py-2 rounded-lg bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            }

            <!-- NAME -->
            @if (type === 'name') {
            <input type="text" formControlName="value" placeholder="Nuevo nombre"
                class="w-full px-4 py-2 rounded-lg bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            }

            <!-- ROOMS -->
            @if (type === 'rooms') {
            <input type="number" formControlName="value" placeholder="Nuevos ambientes"
                class="w-full px-4 py-2 rounded-lg bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            }

            <!-- TYPE -->
            @if (type === 'type') {
            <select formControlName="value" class="w-full px-4 py-2 rounded-lg bg-gray-800 border border-gray-700">
                <option value="casa">Casa</option>
                <option value="departamento">Departamento</option>
            </select>
            }

            <div class="flex justify-end gap-2 pt-4">
                <button type="button" (click)="cancel.emit()"
                    class="px-4 py-2 rounded-lg bg-gray-700 hover:bg-gray-600 transition cursor-pointer">
                    Cancelar
                </button>

                <button type="submit" [disabled]="form.invalid"
                    class="px-4 py-2 rounded-lg bg-blue-600 hover:bg-blue-700 disabled:opacity-50 transition cursor-pointer">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>