<div class="max-w-screen bg-black px-4 relative min-h-screen">

  <!-- Toast -->
  <app-toast #toast></app-toast>

  @if (loading) {
  <div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <app-spinner></app-spinner>
  </div>
  }

  @if (!loading) {
  <div class="max-w-screen flex justify-between items-center mt-6 gap-4">

    <!-- Select contrato -->
    <div class="max-w-md w-full">
      <select
        class="w-full bg-gray-900 border border-gray-700 text-white rounded-lg px-3 py-2 focus:outline-none focus:ring focus:ring-blue-500 overflow-hidden"
        [(ngModel)]="selectedContract" (ngModelChange)="onContractSelected($event)">
        <option [ngValue]="null">Seleccionar contrato...</option>

        @for (contract of contracts; track contract.id) {
        <option [ngValue]="contract">
          {{ contract.property_name.charAt(0).toUpperCase() +
          contract.property_name.slice(1) }} - {{ contract.tenant_name.charAt(0).toUpperCase() +
          contract.tenant_name.slice(1)
          }}
        </option>
        }
      </select>
    </div>

    <!-- Volver al menú -->
    <button class="
      flex items-center justify-center gap-1
      py-2 px-4
      rounded-lg bg-blue-600 hover:bg-blue-700
      disabled:bg-blue-400 disabled:cursor-not-allowed
      text-white font-semibold transition cursor-pointer
      whitespace-nowrap
    " (click)="goToHome()">
      <span class="material-icons">arrow_back</span>
      Volver al menú
    </button>

  </div>


  @if (selectedContract) {
  <div class="max-w-screen bg-black mt-4 rounded-lg shadow-lg">
    <!-- Sección de datos del contrato -->
    <div class="max-w-screen mx-auto bg-gray-900 text-white rounded-2xl shadow-2xl p-8 mt-8 ">
      <!-- Header -->
      <div class="flex justify-between items-center mb-6">
        <div class="flex items-center gap-3">
          <span class="material-icons text-blue-400 text-3xl">description</span>
          <h2 class="text-2xl font-bold">Detalles del Contrato</h2>
        </div>
        <span class="text-gray-400 text-sm">
          Creado: {{ selectedContract.created_at | date:'dd/MM/yy' }}
        </span>
      </div>

      <!-- Grid de datos -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <!-- Propiedad -->
        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-blue-300 text-3xl">home</span>
          <div>
            <div class="text-gray-400 text-sm">Propiedad</div>
            <div class="text-lg font-semibold">{{ selectedContract.property_name.charAt(0).toUpperCase() +
              selectedContract.property_name.slice(1) || '-'
              }}</div>
          </div>
        </div>

        <!-- Inquilino -->
        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-green-300 text-3xl">person</span>
          <div>
            <div class="text-gray-400 text-sm">Inquilino</div>
            <div class="text-lg font-semibold">{{ selectedContract.tenant_name.charAt(0).toUpperCase() +
              selectedContract.tenant_name.slice(1) || '-'
              }}</div>
          </div>
        </div>

        <!-- Monto de alquiler -->
        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-yellow-300 text-3xl">attach_money</span>
          <div>
            <div class="text-gray-400 text-sm">Valor inicial</div>
            <div class="text-lg font-semibold">${{ selectedContract.rent_amount | number }}</div>
          </div>
        </div>

        <!-- Moneda -->
        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-purple-300 text-3xl">currency_exchange</span>
          <div>
            <div class="text-gray-400 text-sm">Moneda</div>
            <div class="text-lg font-semibold">{{ selectedContract.currency }}</div>
          </div>
        </div>

        <!-- Vigencia -->
        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-pink-300 text-3xl">event</span>
          <div>
            <div class="text-gray-400 text-sm">Desde (dia-mes-año)</div>
            <div class="text-lg font-semibold">{{ selectedContract.valid_from | date:'dd/MM/yy' }}</div>
          </div>
        </div>

        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-pink-300 text-3xl">event_available</span>
          <div>
            <div class="text-gray-400 text-sm">Hasta (dia-mes-año)</div>
            <div class="text-lg font-semibold">{{ selectedContract.valid_to | date:'dd/MM/yy' }}</div>
          </div>
        </div>

        <!-- Incremento -->
        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-orange-300 text-3xl">trending_up</span>
          <div>
            <div class="text-gray-400 text-sm">Incremento</div>
            <div class="text-lg font-semibold">{{ selectedContract.increase_percentage }}% {{
              selectedContract.increase_frequency == 'monthly' ? 'Mensual' : selectedContract.increase_frequency ==
              'quarterly'
              ? 'Trimestral' : 'Anual'
              }} </div>
          </div>
        </div>

        <!-- Estado -->
        <div class="flex items-center gap-4 bg-gray-700/50 rounded-lg p-4 shadow-md hover:bg-gray-700/70 transition">
          <span class="material-icons text-green-400 text-3xl">{{ selectedContract.status ? 'toggle_on' : 'toggle_off'
            }}</span>
          <div>
            <div class="text-gray-400 text-sm">Estado</div>
            <div class="text-lg font-semibold">{{ selectedContract.status ? 'Activo' : 'Inactivo' }}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-1 xl:grid-cols-2 gap-4 mt-6">
      <div *ngFor="let month of paginatedMonths" class="bg-gray-900 rounded-lg p-4 shadow-lg text-white">
        <app-card-payment [month]="month" (onCheckbox)="onCheckbox($event)" (onAddNote)="onAddNote($event)"
          (onAddPayment)="onAddPayment($event)"></app-card-payment>
      </div>
    </div>

    @if (months.length > monthsPerPage) {
    <div class="flex justify-between items-center mt-6 px-2 cursor-pointer mb-6">

      <button class="px-4 py-2 bg-gray-700 rounded disabled:opacity-40"
        (click)="currentMonthPage = currentMonthPage - 1" [disabled]="currentMonthPage === 1">
        Anterior
      </button>

      <span class="text-sm text-gray-300">
        Página {{ currentMonthPage }} de {{ totalMonthPages }}
      </span>

      <button class="px-4 py-2 bg-gray-700 rounded disabled:opacity-40 cursor-pointer"
        (click)="currentMonthPage = currentMonthPage + 1" [disabled]="currentMonthPage === totalMonthPages">
        Siguiente
      </button>

    </div>
    }

  </div>
  }
  }

  <!-- Modal de agregar nota -->
  @if (openFormNote) {
  <app-form-note (saveNote)="onSaveNote($event)" (cancel)="openFormNote = false"
    [note]="paymentMonthEdit?.description"></app-form-note>
  }

  <!-- Modal de agregar pago -->
  @if (openFormPayment) {
  <app-form-payment (save)="onSavePayment($event)" (cancel)="openFormPayment = false"
    [rent_amount]="paymentMonthEdit?.rent_amount"
    [payment_method]="paymentMonthEdit?.payment_method"></app-form-payment>
  }

</div>