<div class="max-w-screen bg-black px-4
         flex items-center justify-center border">

  @if (loading) {
  <div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <app-spinner></app-spinner>
  </div>
  }


  @if (!this.loading && this.currentUser) {
  <div class="
      grid
      grid-cols-1
      lg:grid-cols-3
      gap-6
      place-items-center
      max-w-screen
      p-4
    ">


    @if (this.currentUser && this.currentUser.role === 'owner') {
    <app-card-option icon="home" title="Propiedades" bgColor="bg-green-600"
      backgroundImage="url('assets/images/properties.jpg')" url="/properties" />

    <app-card-option icon="people" title="Inquilinos" bgColor="bg-emerald-600"
      backgroundImage="url('assets/images/tenants.png')" url="/tenants" />

    <app-card-option icon="analytics" title="Estadísticas" bgColor="bg-sky-600"
      backgroundImage="url('assets/images/statistics.webp')" url="/statistics" />
    }

    <app-card-option icon="payments" title="Pagos" bgColor="bg-rose-600"
      backgroundImage="url('assets/images/payments.png')" url="/payments" />

    <app-card-option icon="person" title="Mi perfil" bgColor="bg-indigo-600"
      backgroundImage="url('assets/images/profile.jpg')" url="/profile" />


  </div>
  }
</div>