<div class="min-h-[calc(100vh-4rem)] w-screen bg-black px-4 border">

  <!-- Loader -->
  @if (loading) {
  <div class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <app-spinner></app-spinner>
  </div>
  }

  @if (!loading && currentUser) {

  <!-- CONTENEDOR GRID -->
  <div class="
        max-w-screen mx-auto
        grid grid-cols-1
        sm:grid-cols-2
        lg:grid-cols-3
        gap-6
        py-10
      ">

    <!-- Opciones OWNER -->
    @if (currentUser.role === 'owner') {
    <app-card-option icon="home" title="Propiedades" bgColor="bg-green-600"
      backgroundImage="url('assets/images/properties.jpg')" url="/properties" />

    <app-card-option icon="people" title="Inquilinos" bgColor="bg-emerald-600"
      backgroundImage="url('assets/images/tenants.png')" url="/tenants" />

    <app-card-option icon="analytics" title="Estadísticas" bgColor="bg-sky-600"
      backgroundImage="url('assets/images/statistics.webp')" url="/statistics" />

    <app-card-option icon="article" title="Contratos" bgColor="bg-purple-600"
      backgroundImage="url('assets/images/contracts.jpg')" url="/contracts" />

    <app-card-option icon="payments" title="Pagos" bgColor="bg-rose-600"
      backgroundImage="url('assets/images/payments.png')" url="/payments" />

    <app-card-option icon="person" title="Mi perfil" bgColor="bg-indigo-600"
      backgroundImage="url('assets/images/profile.jpg')" url="/profile" />
    }


    <!-- Opciones TENANT -->
    @if (currentUser.role === 'tenant') {
    <app-card-option icon="payments" title="Pagos" bgColor="bg-rose-600"
      backgroundImage="url('assets/images/payments.png')" url="/payments" />

    <app-card-option icon="person" title="Mi perfil" bgColor="bg-indigo-600"
      backgroundImage="url('assets/images/profile.jpg')" url="/profile" />
    }


    <!-- Opciones ADMIN -->
    @if (currentUser.role === 'admin') {
    <app-card-option icon="admin_panel_settings" title="Administración" bgColor="bg-blue-600"
      backgroundImage="url('assets/images/settings.jpg')" url="/admin" />

    <app-card-option icon="settings" title="Configuracion" bgColor="bg-green-600"
      backgroundImage="url('assets/images/settings.jpg')" url="/admin" />
    }

  </div>
  }
</div>