<div class="
    w-full
    h-44 sm:h-52 lg:h-64
    rounded-xl p-6
    text-white shadow-lg
    flex items-center justify-center gap-3
    cursor-pointer
    transition-transform duration-300 hover:scale-[1.03]
    relative overflow-hidden
  " [ngClass]="bgColor" [style.backgroundImage]="backgroundImage" [style.backgroundSize]="'cover'"
  [style.backgroundPosition]="'center'" [style.backgroundRepeat]="'no-repeat'" (click)="navigate()">

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/40 z-0"></div>

  <!-- Botón DESACTIVAR -->
  <button class="
      absolute top-2 right-2
      text-gray-300 hover:text-red-500
      transition z-20 cursor-pointer
    " (click)="openModal(tenant.is_enabled); $event.stopPropagation()">
    <span class="material-icons"> {{ tenant.is_enabled ? 'toggle_on' : 'toggle_off' }}</span>
  </button>

  <!-- Contenido -->
  <div class="z-10 flex items-center gap-2 text-center">
    <span class="material-icons text-5xl drop-shadow-xl">
      {{ icon }}
    </span>

    <h1 class="font-semibold text-xl sm:text-2xl lg:text-3xl drop-shadow-xl">
      {{ title.charAt(0).toUpperCase() + title.slice(1) }}
    </h1>
  </div>

</div>

<!-- Confirm modal -->
@if (openConfirmModal) {
<app-modal-confirm (confirm)="isTenanrEnabled(); openConfirmModal = false;" (cancel)="openConfirmModal = false"
  message="{{ message }}">
</app-modal-confirm>
}